<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="The Internet tests"  parallel="false" thread-count="1">
    <parameter name = "browser" value="CHROME"/>
    <test name="Chrome tests" >
        <!--<parameter name = "browser" value="CHROME"/>-->
        <classes>
            <class name="TestSuite.Tests.LoginTests" />
            <class name="TestSuite.Tests.UserTypeTests" />
        </classes>
    </test>
</suite>